{% extends "layout.html" %}

{% block body %}

<h1>HELLO Swati</h1>

<form action="/search" method="GET" >
   <input size = 100 type="text" name="q">
   <input type="submit" value="Search">
</form>

    <div>
        <table>
            <tr>
                <td><img width="500vh" src={{theimg}} alt=""></td>
            </tr>
        </table>
    </div>

    <div>
        {% for show in shows %}
        <table>
            <tr>
                <td>{{ show[1] }}</td>
            </tr>
        </table>
        {% endfor %}
   </div>



{%  endblock%}